<h2>Mis Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>
<!--Detalles del heroe seleccionado-->
<div *ngIf="selectedHero">
  <h2>DETALLES DE {{selectedHero.name | uppercase}}</h2>
  <div>ID:  {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Nombre del Heroe:  </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>